<pageheader ng-class="{searchActive: vm.listState.currentState == vm.ListState.SEARCH}">
    <!-- page title -->
    <span flex ng-show="vm.listState.currentState == vm.ListState.DEFAULT">Store Manager</span>

    <!-- search locations -->
    <span flex ng-show="vm.listState.currentState == vm.ListState.SEARCH">
            <input placeholder="Search Locations"/>
    </span>

    <!-- toggle search locations -->
    <md-button id="btnSearchLocations" aria-label="Search Locations" ng-click="vm.toggleSearch()" ng-class="{
                active: vm.listState.currentState == vm.ListState.SEARCH,
                'md-icon-button': vm.listState.currentState == vm.ListState.DEFAULT,
                'md-fab': vm.listState.currentState == vm.ListState.SEARCH,
                'md-mini': vm.listState.currentState == vm.ListState.SEARCH}">
        <i class="material-icons">search</i>
    </md-button>

    <!-- add location -->
    <div md-theme="pink">
        <md-button id="btnAddLocation" class="md-fab md-mini md-primary" aria-label="Add Location" ng-click="vm.addLocation()">
            <i class="material-icons">add</i>
        </md-button>
    </div>
</pageheader>
<div layout="row" layout-wrap id="storelocations">
    <figure class="snip1105 blue" ng-repeat="location in vm.locations" ng-class="{active: location.active, inactive: !location.active}"
    ng-click="vm.selectLocation(location)">
        <img src="http://amandaadams.com/wp-content/uploads/2014/05/ZaxbyLogo-Outdoor.jpg" alt="sample36" />
        <figcaption ng-class="{active: location.active, inactive: !location.active}">
            <div class="icons" ng-click="$event.stopPropagation()">
                <md-switch class="md-primary" ng-model="location.active" aria-label="availability"></md-switch>
                <a><i class="material-icons" ng-click="vm.remove(location)">delete</i></a>
            </div>
            <h3>{{ location.name }}</h3>
        </figcaption>
    </figure>
</div>