<pageheader>
    <backbutton></backbutton>
    <span>Zaxbys</span>
</pageheader>
<div layout="row" class="store-editor">
    <store-sidebar store-controller="vm"></store-sidebar>

    <!-- Information -->
    <main class="md-padding" flex ng-show="vm.editorState.currentState == vm.EditorState.INFORMATION">
        <md-input-container class="md-block active-switch">
            <md-switch aria-label="Enabled">Enabled</md-switch>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Location Name</label>
            <input placeholder="Zaxbys"/>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Short Description</label>
            <textarea rows="5"></textarea>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea rows="5"></textarea>
        </md-input-container>
        <div layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary">Save</md-button>
        </div>
    </main>


    <!-- Locations -->
    <main class="md-padding" flex ng-show="vm.editorState.currentState == vm.EditorState.LOCATIONS">
        <md-input-container style="padding:0px;margin:0px;width:600px;">
            <label>Add an address</label>
            <input/>
        </md-input-container>
        <md-button class="md-icon-button" aria-label="select address">
            <i title='show address on map' class="material-icons" style="color:orangered">add_location</i>
        </md-button>
            <!--<md-button class="md-raised md-primary">Show on map</md-button>-->
        <!-- map -->
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' events="vm.events"></ui-gmap-google-map>
    </main>


    <!-- Menus -->
    <main class="md-padding" flex ng-show="vm.editorState.currentState == vm.EditorState.MENUS">
        <md-input-container style="margin:0px;padding:0px;">
            <select>
                <option>Default Menu</option>
            </select>
        </md-input-container>
        <div layout="row">
            <div flex style="text-align:center; margin-bottom:25px;">Default Menu</div>
        </div>
        <div layout="row">
            <div flex="33" layout="column" style="padding:5px 15px">
                <span flex style="text-align:center">Appetizers</span>
                <div layout="row">
                    <span flex>Nachos</span>
                    <span flex="10" style="text-align:right">$5.99</span>
                </div>
                <div layout="row">
                    <span flex>Rice or something</span>
                    <span flex="10" style="text-align:right">$2.99</span>
                </div>
                <div layout="row">
                    <span flex>Nachos</span>
                    <span flex="10" style="text-align:right">$5.99</span>
                </div>
                <div layout="row">
                    <span flex>Rice or something</span>
                    <span flex="10" style="text-align:right">$2.99</span>
                </div>
            </div>

            <div flex="33" layout="column" style="padding:5px">
                <span flex style="text-align:center">Entrees</span>
                <div layout="row">
                    <span flex>Nachos</span>
                    <span flex="10" style="text-align:right">$5.99</span>
                </div>
                <div layout="row">
                    <span flex>Rice or something</span>
                    <span flex="10" style="text-align:right">$2.99</span>
                </div>
                <div layout="row">
                    <span flex>Nachos</span>
                    <span flex="10" style="text-align:right">$5.99</span>
                </div>
                <div layout="row">
                    <span flex>Rice or something</span>
                    <span flex="10" style="text-align:right">$2.99</span>
                </div>
            </div>

            <div flex="33" layout="column" style="padding:5px">
                <span flex style="text-align:center">Drinks</span>
                <div layout="row">
                    <span flex>Nachos</span>
                    <span flex="10" style="text-align:right">$5.99</span>
                </div>
                <div layout="row">
                    <span flex>Rice or something</span>
                    <span flex="10" style="text-align:right">$2.99</span>
                </div>
                <div layout="row">
                    <span flex>Nachos</span>
                    <span flex="10" style="text-align:right">$5.99</span>
                </div>
                <div layout="row">
                    <span flex>Rice or something</span>
                    <span flex="10" style="text-align:right">$2.99</span>
                </div>
            </div>

        </div>
    </main>
</div>
