<div class="store-sidebar" layout="column">
    <md-button ng-click="vm.go(vm.EditorState.INFORMATION)" ng-class="{active: vm.currentState() == vm.EditorState.INFORMATION}">
        Information
    </md-button>
    <md-button ng-click="vm.go(vm.EditorState.LOCATIONS)" ng-class="{active: vm.currentState() == vm.EditorState.LOCATIONS}">
        Locations
    </md-button>
    <md-button ng-click="vm.go(vm.EditorState.MENUS)" ng-class="{active: vm.currentState() == vm.EditorState.MENUS}">
        Menus
    </md-button>
</div>