<md-sidenav id='dashboard-sidebar' class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="vm.isPinned" ng-class="{collapsed: vm.isCollapsed}">
    <a ng-click="vm.toggle()">
        <md-toolbar layout="row">
            <span id="dm-logo" ng-hide="vm.isCollapsed" class="md-toolbar-tools" flex="75">DeliverMii</span>
            <span flex>
                    <i ng-class="{collapsed: vm.isCollapsed}"
                       class="material-icons md-36">chevron_left</i>
            </span>
        </md-toolbar>
    </a>
    <md-content layout-wrap>
                <md-button ng-click="vm.navigateTo('/')">
                    <i title="Home" class="material-icons">home</i>  <span ng-hide="vm.isCollapsed">Home</span>
                </md-button>
                <md-button ng-disabled="true">
                    <i title="Accounts" class="material-icons">face</i> <span ng-hide="vm.isCollapsed">Accounts</span>
                </md-button>
                <md-button ng-disabled="true">
                    <i title="Orders" class="material-icons">receipt</i> <span ng-hide="vm.isCollapsed">Orders</span>
                </md-button>
                <md-button ng-disabled="true">
                    <i title="Payments" class="material-icons">payment</i> <span ng-hide="vm.isCollapsed">Payments</span>
                </md-button>
                <md-button ng-click="vm.navigateTo('/storemanager/')">
                    <i title="Store Manager" class="material-icons">store</i> <span ng-hide="vm.isCollapsed">Store Manager</span>
                </md-button>
                <md-button ng-disabled="true">
                    <i title="Help Desk" class="material-icons">help</i> <span ng-hide="vm.isCollapsed">Help Desk</span>
                </md-button>
                <md-button ng-disabled="true">
                    <i title="Global Settings" class="material-icons">settings_applications</i> <span ng-hide="vm.isCollapsed">Global Settings</span>
                </md-button>
                <md-button ng-disabled="true">
                    <i title="Reports" class="material-icons">assessment</i> <span ng-hide="vm.isCollapsed">Reports</span>
                </md-button>
    </md-content>

    <span style="text-align:center;margin-top:25px;">
        <i class="material-icons" style="cursor:pointer;">account_circle</i>
    </span>
</md-sidenav>