
@keyframes slide_up {
  from {
    opacity:0;
    transform: translate3d(0px, 50px, 0px);
  }
  to {
    opacity:1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slide_in_down {
  from {
    opacity:0;
    transform: translate3d(-1000px, 0px, 0px);
  }
  to {
    opacity:1;
    transform: translate3d(0px, 0px, 0px);
  }
}


@keyframes slide_in_right {
  from {
    opacity:0;
    transform: translate3d(-500px, 0px, 0px);
  }
  to {
    opacity:1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slide_in_left {
  0% {
    opacity:0;
    transform: translate3d(50px, 0px, 0px);
  }
  50% {
    opacity:0;
    transform: translate3d(50px, 0px, 0px);
  }
  100% {
    opacity:0.6;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slide_up_out {
  from {
    opacity:1;
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    opacity:0;
    transform: translate3d(0px, -50px, 0px);
  }
}