#dashboardPageHeader.searchActive {
  background:#779ECB;
}

#btnSearchLocations {
  animation:slide_in_left 0.8s linear;
  opacity:0.6;
}

#btnSearchLocations.active i {
  margin-top:8px;
}

#btnAddLocation {
  margin-right:50px;
  animation:slide_in_left 1s linear;

  i {
    margin-top:8px;
  }
}

#storelocations {

  md-input-container {
    padding:0;
    margin:0;
  }


  #storelocations figure {
    opacity: 1;

  }

  figcaption.active {
    background: springgreen;
    opacity:0.95;
  }

  figcaption.inactive {
    background: #bbb;
    opacity:0.95;
  }

  figure.ng-enter {
    animation: slide_up 0.3s linear;
  }

  figure.ng-enter-stagger {
    animation-delay: 0.09s;
  }

  figure md-switch{
    height: auto;
    margin:0px;
  }

  figure md-switch .md-container {
    height: auto;
  }

  figure.ng-leave {
    animation: slide_up_out 0.3s linear;
  }

  figcaption div.icons {
    background: #EEE;
  }

}