figure.snip1105 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor:pointer;
}

figure.snip1105 *,
figure.snip1105 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure.snip1105 img {
    max-width: 100%;
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1.2);
}

figure.snip1105 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

figure.snip1105 h3 {
    position: absolute;
    width: 100%;
    background: #000000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 12px 20px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
}

figure.snip1105 h3 span {
    font-weight: 800;
}

figure.snip1105 .icons {
    padding: 5px 15px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    background-color: #ffffff;
    text-align: right;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.snip1105 .icons a i {
    font-size: 24px;
    color: #000000;
    padding: 0px 8px;
}

figure.snip1105 .icons a i:before {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure.snip1105 a {
    opacity: 0.7;
    -webkit-transition-property: none;
    transition-property: none;
}

figure.snip1105 a:hover {
    opacity: 1;
}

figure.snip1105.blue {
    background: #0a212f;
}

figure.snip1105.blue h3 {
    background: #0a212f;
}

figure.snip1105.blue:after {
    background-color: #0a212f;
}

figure.snip1105.red {
    background: #36100c;
}

figure.snip1105.red h3 {
    background: #36100c;
}

figure.snip1105.red:after {
    background-color: #36100c;
}

figure.snip1105.yellow {
    background: #583804;
}

figure.snip1105.yellow h3 {
    background: #583804;
}

figure.snip1105.yellow:after {
    background-color: #583804;
}

figure.snip1105:hover img,
figure.snip1105.hover img {
    opacity: 0.3;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.snip1105:hover h3,
figure.snip1105.hover h3 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.snip1105:hover .icons,
figure.snip1105.hover .icons {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

figure.snip1105:hover .icons a i:before,
figure.snip1105.hover .icons a i:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

figure.snip1105:hover a:first-child i:before,
figure.snip1105.hover a:first-child i:before {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

figure.snip1105:hover a:nth-child(2) i:before,
figure.snip1105.hover a:nth-child(2) i:before {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip1105:hover a:nth-child(3) i:before,
figure.snip1105.hover a:nth-child(3) i:before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}