#dashboardPageHeader {
  animation:page_header_slidein 0.2s linear;
  background:#3be9ff;

  @keyframes page_header_slidein {
    from {
      opacity:0;
      transform: translate3d(-1000px, 0px, 0px);
    }
    to {
      opacity:1;
      transform: translate3d(0px, 0px, 0px);
    }
  }
}