/* STATE: expanded */
#dashboard-sidebar {
    background:#333;
    width:200px;
    transition: 0.3s linear;
}

/* toolbar */
#dashboard-sidebar md-toolbar, #dashboard-sidebar md-toolbar span i {
    cursor: pointer;
}

#dashboard-sidebar md-toolbar span i {
    margin-top:20px;
    transform: rotate(0deg);
    transition: .3s linear;
}

#dashboard-sidebar md-toolbar span i.collapsed {

    text-align:center;
    width:100%;
}

/* content */
#dashboard-sidebar md-content {
    background: #444;
    font-family: 'Roboto', sans-serif;
    color: #EEE;
}

/* buttons */
#dashboard-sidebar .md-button {
    text-align: left;
    width: 100%;
    padding:8px 0 0 5px;
    margin:0px 0 0 0;
}


/* STATE: collapsed */
#dashboard-sidebar.collapsed {
    width:100px;
    transition: 0.3s linear;
}

#dashboard-sidebar.collapsed .md-button {
    text-align: center;
}

#dashboard-sidebar md-toolbar span i.collapsed {
    transform: rotate(180deg);
    transition: .3s linear;
}


@keyframes slideInRight {
    from {
        transform: translate3d(-100px, 100px, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(-10px, 0px, 0px);
    }
}